
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-width: 1px, 0px, 1px, 0px;
  border-style: solid;
  border-color: #F1F1F1;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 0px #3E434A4F;
  box-shadow: 4px 8px 12px 0px #3E434A26;
}

@media (min-width: 768px) {
  header {
    padding: 15px 48px;
  }

  .header-logo {
    width: 180px;
  }
}