.home-content {
  padding: 16px;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-style: solid;
  border-color: #F1F1F1;
  background-color: #ffffff;
  box-shadow: 4px 8px 12px 0px #3E434A26;
}


.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* DROPDOWN */
.dropdown-menu {
  background: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.dropdown-menu.show {
  max-height: 400px; /* cukup untuk isi menu */
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-menu li.logout {
  color: #ff5722;
  font-weight: 500;
}

.logout img {
  width: 15px;
  margin-left: 3px;
}

/* Hero Top */
.hero {
  height: 50vh;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hero-content h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 0.9rem;
  opacity: 0.9;
}

.primary-btn {
  background: #3ECF4C;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 8px;
  margin-top: 12px;
  width: 100%;
  cursor: pointer;
}

/* Video List */
.video-list {
  margin-top: 24px;
}

.video-list h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 8px;
  scrollbar-width: none; /* firefox */
}

.tabs::-webkit-scrollbar {
  display: none; /* chrome */
}

.tab-item {
  background: none;
  border: none;
  font-size: 14px;
  color: #777;
  cursor: pointer;
  padding-bottom: 8px;
  position: relative;
  white-space: nowrap; /* supaya tidak turun ke bawah */
}

/* ACTIVE STYLE */
.tab-item.active {
  color: #F64920;
  font-weight: 600;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #F64920;
  border-radius: 10px;
}


/* Video Card */
.video-card {
  display: flex;
  gap: 10px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.video-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.thumbnail {
  width: 130px;
  height: 110px;
  object-fit: cover;
  border-radius: 8px;
}

.video-content {
  flex: 1;
}

.instructor {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.instructor-info {
  display: flex;
  flex-direction: column;
}

.instructor-name {
  font-size: 13px;
  font-weight: 600;
}

.instructor-role {
  font-size: 12px;
  color: #777;
}

.profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.video-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.rating-student {
  text-decoration: underline;
  text-decoration-color: #777;
  color: #777;
  font-size: 0.8rem;
} 

.price {
  color: #3ECF4C;
  font-weight: bold;
}

.video-desc {
  display: none;
}

/* Hero Bottom */
.newsletter-hero {
  height: 50vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  overflow: hidden;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.newsletter-content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 500px;
}

.newsletter-label {
  font-size: 1.2rem;
  letter-spacing: 1px;
  opacity: 0.9;
}

.newsletter-content h2 {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: bold;
}

.newsletter-content p {
  margin-top: 12px;
  font-size: 0.9rem;
  opacity: 0.9;
}

.newsletter-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newsletter-form input {
  padding: 14px;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
}

.newsletter-form button {
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #F6B73C;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  letter-spacing: 2px;
}

.newsletter-form button:hover {
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
.home-content {
  padding: 50px 200px; 
}

/* Navbar */

.navbar {
  padding: 15px 200px;
}

.navbar-logo {
  width: 180px;
}

  .dropdown-menu {
    position: absolute;
    top: 70px;
    right: 200px;
    width: 200px;

    max-height: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);

    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    transition: 0.2s ease;
  }

  .dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    z-index: 2;
  }

  .dropdown-menu li {
    padding: 14px 18px;
    font-size: 14px;
  }

  .dropdown-menu li:hover {
    background: #f5f5f5;
  }

  .dropdown-menu li.logout {
    color: #F64920;
    font-weight: 500;
  }

/* Hero Top */

.hero {
  width: 100%;
  height: 40vh;
}

.hero-content {
  width: 70%;
  padding: 50px 0;
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.primary-btn {
  width: 50%;
}

/* Video List/Card */
.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 32px;
}

.video-card {
  flex-direction: column;
  padding: 20px;
  margin-bottom: 0;
  height: 100%;
  overflow: hidden;

}

.thumbnail {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}

.video-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

.profile {
  width: 50px;
  height: 50px;
 }
 
 .instructor-name {
  font-size: 1.2rem;
 }

 .instructor-role {
  font-size: 1rem;
 }

 .rating-student {
  font-size: 1rem;
  justify-items: center;
  align-items: center;
  display: flex;
 }

 .price {
  font-size: 1.5rem;
 }

.video-content h4 {
  font-size: 1.5rem;
}

.video-footer {
  margin-top: 20px;
}

.video-list h3 {
  font-size: 2rem;
}

.desc {
  font-size: 1rem;
}

.tab-item {
  font-size: 1rem;
}

.video-desc {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  opacity: 0.8;
}

/* Hero Bottom */

.newsletter-hero {
  width: 100%;
  height: 40vh;
}

.newsletter-content {
  width: 70%;
  padding: 50px 0;
}

.newsletter-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

 .newsletter-form {
    flex-direction: row;
    align-items: center;
    background: white;
    padding: 6px;
    border-radius: 14px;
    max-width: 600px;
    margin: 30px auto 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  }

  .newsletter-form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 15px;
    text-align: left;
  }

  .newsletter-form button {
    padding: 14px 24px;
    border-radius: 10px;
  }

  

}




