
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.card-login {
  width: 90%;
  height: auto;
  gap: 20px;
  opacity: 1;
  border-radius: 4px;
  border-width: 1px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1
}

.title-login {
  text-align: center;
  padding-bottom: 5px;
}

.subtitle-login {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.label-login {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #39b54a;
}

.password-wrapper-login {
  position: relative;
}

.eye {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  font-size: 14px;
}

.forgot-login {
  text-align: right;
  font-size: 13px;
  margin: 10px 0;
}

.forgot-login a {
  color: #777;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary-login {
  width: 100%;
  padding: 10px;
  background: #39b54a;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-secondary-login {
  width: 100%;
  padding: 10px;
  background: #dff5e4;
  border: none;
  border-radius: 6px;
  color: #39b54a;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.divider-login {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

.divider-login span {
  flex: 1;
  height: 1px;
  background: #ddd;
  margin: 0 10px;
}

.btn-google-login {
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #777;
  font-weight: bold;
}

.btn-google-login img {
  width: 18px;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .container-login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-login {
    width: 500px;
    height: auto;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
  }

  .title-login {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }

  .subtitle-login {
    margin-bottom: 20px;
  }

  input,
  select {
    padding: 12px;
    font-size: 1rem;
  }

  .forgot-login {
    margin-bottom: 18px;
    font-size: 0.9rem;
  }

  .btn-primary-login {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 1rem;
  }

  .btn-secondary-login {
    margin-bottom: 20px;
    padding: 12px;
    font-size: 1rem;
  }

  .divider-login {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .btn-google-login {
    padding: 12px;
    font-size: 1rem;
  }

  .label-login {
    font-size: 1rem;
  }

  .btn-google-login img {
    width: 20px;
  }
}

